{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
    
   
    <link rel="stylesheet" href="{% static './css/UserAccount.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{% static "./images/logo.png" %}" alt="Logo">
        </div>
        <h3 id="identity">welcome: {{user.username}}</h3>
        <ul>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        
        
    </div>
    
    {% load custom_tags %} 
    
    <div class="response-box">
        <h2>Your metting Id :</h2>
        <a href="{% get_latest_response %}" id="check">{% get_latest_response %}</a> 
    </div>
    
   
    
   
</body>
</html>
