{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
   
    <link rel="stylesheet" href="{% static './css/UserAccount.css' %}">
    <link rel="stylesheet" href="{% static './css/user_dashboard.css' %}">
    
    
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{% static "./images/logo.png" %}" alt="Logo">
        </div>
        <h3 id="identity">welcome: {{user.username}}</h3>
        <ul>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        
        
    </div>
         
        <main class="inner-content">
            <div class="page-title">
                <h2>Dashboard</h2>
                <p>Welcome {{user.username}} 
                   
                </p>
            </div>
            <div class="content-containere">
                <div class="product">
                    <a href="{% url "user_product_add" %}" class="link">
                    <h2>Add Your Product Here</h2>
                </a>
                </div>
                <div class="product">
                    <a href="{% url "User_Product_details" %}" class="link">
                    <h2>Daily Product List</h2>
                </a>
                </div>
                <div class="product">
                    <a href="{% url "User_meeting" %}" class="link">
                    <h2>Your Meeting Link</h2>
                </a>
                </div>
            </div>
           
        </main>
<!--         
        <footer class="footer">
            <p>Designed by <a href="mailto:info@irodesigncom" title="Mail Us">Webysis Technologies</a></p>
            <p>All rights reserved©2017</p>
        </footer> -->
        
</body>
</html>